@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
title {
  display: none;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/*$gradient-primary: linear-gradient(135deg,$color-primary 0%,$color-secondary 100%);*/
.button--reservation {
  display: flex;
  align-self: center;
  justify-content: center;
  font-family: "roboto", sans-serif;
  margin-bottom: 46px;
  font-size: 16px;
  display: flex;
  align-items: center;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px 30px 30px 30px;
  width: 50%;
  height: 45px;
  border: none;
}

header {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 1px;
  height: 55px;
  position: relative;
}

.header__logo {
  display: flex;
  justify-content: center;
  margin: 0px 0 8px 0;
}
.header__logo img {
  width: 40%;
  margin-top: 16px;
}

#location {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: #ededed;
  font-size: 18px;
  padding: 0 26px 0px 0;
  height: 45px;
}
#location h6 {
  margin: 14px 0 0 0;
  font-size: 16px;
  font-weight: 500;
}
#location__dot {
  display: flex;
  align-self: center;
  font-size: 14px;
  margin: 0 12px 6px 0;
}

#reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0px;
  background-color: #f7f7f7;
  font-family: "roboto", sans-serif;
}
#reservation__title {
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  width: 70%;
  margin-top: 12px;
}
#reservation__title h3 {
  font-weight: 900;
  font-size: 28px;
  margin-bottom: 12px;
}
#reservation__description {
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  margin: 0px 0 0px 0;
  width: 100%;
}
#reservation__description h5 {
  margin: 0 0 30px 0;
  font-weight: 100;
  font-size: 20px;
}

.working {
  margin: 40px 0 60px 0;
}
.working ul {
  padding-left: 0;
  margin-left: 26px;
}
.working h3 {
  margin-left: 18px;
  font-size: 28px;
}
.working__button {
  display: flex;
  align-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 15px 15px 15px 15px;
  width: 95%;
  margin-bottom: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 1px;
}
.working__button:hover {
  background-color: #e9ddf8;
}
.working__button--number_icon {
  display: flex;
  position: relative;
  color: white;
  transform: translateX(-10px);
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  font-family: "roboto";
  font-size: 13px;
}
.working__button--icon i {
  color: grey;
  font-size: 20px;
  margin-right: 20px;
}
.working__button--icon i:hover {
  color: #9356DC;
}
.working__button--text h5 {
  font-size: 18px;
  font-family: "roboto", sans-serif;
}

.restaurant {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding-bottom: 40px;
}
.restaurant h3 {
  font-family: "roboto";
  font-weight: 900;
  font-size: 28px;
  margin: 60px 0 24px 20px;
}

.restaurant__list {
  padding: 0;
  margin: 0 20px 0 20px;
}

.restaurant__card {
  display: flex;
  flex-direction: column;
  border-radius: 15px 15px 15px 15px;
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 1px;
  overflow: hidden;
}
.restaurant__card--img {
  width: 100%;
  height: 54%;
}
.restaurant__card--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.restaurant__card--info {
  display: flex;
  flex-direction: row;
  margin-left: 12px;
}
.restaurant__card--info_text {
  flex-direction: row;
  width: 85%;
}
.restaurant__card--info_text h5 {
  font-size: 18px;
  margin: 16px 0 3px 0;
  font-family: "roboto";
}
.restaurant__card--info_text h6 {
  font-weight: 100;
  font-size: 14px;
  font-family: "roboto";
  margin: 0 0 10px 0;
}
.restaurant__card--info_like {
  display: flex;
  align-self: center;
  width: 15%;
  font-size: 30px;
}

.restaurant__card--bigger {
  display: flex;
  flex-direction: column;
  border-radius: 15px 15px 15px 15px;
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 1px;
  overflow: hidden;
}
.restaurant__card--bigger--img {
  width: 100%;
  height: 54%;
}
.restaurant__card--bigger--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.restaurant__card--bigger--info {
  display: flex;
  flex-direction: row;
  margin-left: 12px;
}
.restaurant__card--bigger--info_text {
  flex-direction: row;
  width: 85%;
}
.restaurant__card--bigger--info_text h5 {
  font-size: 18px;
  margin: 16px 0 3px 0;
  font-family: "roboto";
}
.restaurant__card--bigger--info_text h6 {
  font-weight: 100;
  font-size: 14px;
  font-family: "roboto";
  margin: 0 0 10px 0;
}
.restaurant__card--bigger--info_like {
  display: flex;
  align-self: center;
  width: 15%;
  font-size: 30px;
}
.restaurant__card--bigger--img {
  height: 32%;
}

.restaurant__card--new {
  display: flex;
  position: absolute;
  margin: 12px 0 0 300px;
  padding: 8px 8px;
  font-family: "roboto";
  font-size: 13px;
  background-color: #99E2D0;
  color: #278870;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #4d4d4d;
  padding: 8px 0 14px 0px;
  font-family: "roboto";
  color: white;
}

.footer {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 30px;
}
.footer__title {
  font-family: "shrikhand";
  font-size: 20px;
}
.footer__title h5 {
  margin: 2px 0 14px 0;
}
.footer__icon {
  margin-right: 8px;
  font-size: 14px;
}
.footer__icon--top {
  margin-right: 14px;
  font-size: 14px;
}
.footer__element {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
}
.footer__element h5 {
  margin: 6px 0 6px 0;
}

/*# sourceMappingURL=style.css.map */
