.menu {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 40px 40px 0 0;
    margin-top: 225px;
    ul {
        list-style: none;
        padding-left: 0;
    }

    @media screen and (min-width: 768px) and (max-width: 992px) {
        margin-top: 380px;
        border-radius: 60px 60px 0 0;
    }

    @media screen and (min-width: 992px) and (max-width: 1440px) {
        margin-top: 620px;
        border-radius: 60px 60px 0 0;
    }
}

.menu__list--list {
    @media screen and (min-width: 992px) and (max-width: 1440px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }  
}


.restaurant__title {
    display: flex;
    flex-direction: row;
    margin-top: 34px;
    align-items: baseline;
    h1 {
        width: 85%;
        font-family: 'shrikhand';
        font-size: 32px;
        font-weight: 500;
        margin: 0px 0 10px 20px;
    }

    @media screen and (min-width: 768px) and (max-width: 992px) {
        h1 {
            font-size: 34px;
            margin: 0px 0 10px 20px;
        }
    }

    @media screen and (min-width: 992px) and (max-width: 1440px) {
        h1 {
            font-size: 40px;
            margin: 0px 0 10px 40px;
        }
    }

    &--like {
        display: flex;
        width: 15%;
        font-size: 26px;
        i {
            &:hover {
                animation: fadeIn 1s ease-in-out;
                
            }
        }

        @media screen and (min-width: 768px) and (max-width: 992px) {
            justify-content: center;
            font-size: 30px;
        }

        @media screen and (min-width: 992px) and (max-width: 1440px) {
            justify-content: center;
            font-size: 36px;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    80% {
        fill: $color-primary;
        opacity: 1;
    }

    100% {
        opacity: 1;
        background-color: $color-primary;
    }
}

.menu {
    font-family: 'roboto';
}

.menu__title {
    @include menu--title;

    @media screen and (min-width: 768px) and (max-width: 992px) {
        width: 8%;
        h3 {
            font-size: 24px;
        }
    }

    @media screen and (min-width: 992px) and (max-width: 1440px) {
        width: 22%;
        h3 {
            font-size: 26px;
        }
    }
}

.command__button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 30px 0 80px 0;
}