.menu {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 40px 40px 0 0;
    margin-top: 225px;
    ul {
        list-style: none;
        padding-left: 0;
    }

    @media screen and (min-width: 426px) and (max-width: 768px) {
        margin-top: 370px;
    }
}

.restaurant__title {
    display: flex;
    flex-direction: row;
    margin-top: 34px;
    align-items: baseline;
    h1 {
        width: 85%;
        font-family: 'shrikhand';
        font-size: 32px;
        font-weight: 500;
        margin: 0px 0 10px 20px;
    }
    &--like {
        display: flex;
        width: 15%;
        font-size: 26px;

        @media screen and (min-width: 426px) and (max-width: 768px) {
            transform: translateX(20%);
        }
    }
}

.menu {
    font-family: 'roboto';
}

.menu__title {
    @include menu--title;

    @media screen and (min-width: 426px) and (max-width: 768px) {
        width: 8%;
        h3 {
            font-size: 24px;
        }
    }
}

.command__button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 30px 0 80px 0;
}