.top_picture {
    @include top_picture;

    @media screen and (min-width: 768px) and (max-width: 992px) {
        height: 50%;
    }

    @media screen and (min-width: 992px) and (max-width: 1440px) {
        height: 75%;
    }
}

.top_picture--bigger {
    @include top_picture;

    @media screen and (min-width: 768px) and (max-width: 992px) {
        height: 65%;
        img {
            height: 95%;
            object-fit: cover;
        }
    }

    @media screen and (min-width: 992px) and (max-width: 1440px) {
        height: 80%;
        img {
            height: 95%;
            object-fit: cover;
        }
    }
}