.button {
    &--reservation {
        @include button;
        display: flex;
        align-self: center;
        justify-content: center;
        font-family: 'roboto', sans-serif;
        margin-bottom: 46px;
        font-size: 16px;

        @media screen and (min-width: 768px) and (max-width: 992px) {
            width: 70%;
        }

        @media screen and (min-width: 992px) and (max-width: 1440px) {
            font-size: 23px;
            height: 60px;
        }
    }
    &--command {
        @include button;
        display: flex;
        align-self: center;
        justify-content: center;
        font-family: 'roboto';
        width: 40%;
        font-size: 16px;

        @media screen and (min-width: 768px) and (max-width: 992px) {
            width: 25%;
        }

        @media screen and (min-width: 992px) and (max-width: 1440px) {
            width: 25%;
        }
    }   
}