.button {
    &--reservation {
        @include button;
        display: flex;
        align-self: center;
        justify-content: center;
        font-family: 'roboto', sans-serif;
        margin-bottom: 46px;
        font-size: 16px;

        @media screen and (min-width: 426px) and (max-width: 768px) {
            width: 70%;
        }
    }
    &--command {
        @include button;
        display: flex;
        align-self: center;
        justify-content: center;
        font-family: 'roboto';
        width: 40%;
        font-size: 16px;
    }   
}