.menu__list--item {
    animation: menu__loading 3s linear;
    @for $i from 1 through $num-menu--items {
        &-#{$i} {
            @include menu-card;
        &-info {
            @include menu-card--info
        }
        &-price {
            @include menu-card--price;

        @media screen and (min-width: 768px) and (max-width: 992px) {
            font-size: 20px;
            h5 {
            margin-top: 34px;
            margin-bottom: 10px;
            }
        }

        @media screen and (min-width: 992px) and (max-width: 1440px) {
            width: 15%;
            h5 {
            font-size: 18px;
            margin: 4px 10px 10px 10px;
            }
        }
        }
        animation: menu__item 1s ease-out;
        animation-delay: calc($anim-dur / $num-menu--items * $i);
        }
    }
}

@keyframes menu__item {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes menu__loading {
    0% {
        opacity: 0;
        
    }
    100% {
        opacity: 0;
    }
}