.menu__list--item {
    animation: menu__loading 3s linear forwards;
    @for $i from 1 through $num-menu--items {
        &-#{$i} {
            @include menu-card;
        &-info {
            @include menu-card--info
        }
        &-price {
            @include menu-card--price;

        @media screen and (min-width: 768px) and (max-width: 992px) {
            font-size: 20px;
            h5 {
            margin-top: 34px;
            margin-bottom: 10px;
            }
        }

        @media screen and (min-width: 992px) and (max-width: 1440px) {
            width: 15%;
            h5 {
            font-size: 18px;
            margin: 4px 10px 10px 10px;
            }
        }
        }

        &-checked {
            position: relative;
            width: 0%;
            height: 68px;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            align-self: flex-end;
            &__icon {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                background-color: $color-tertiary;
                border-radius: 0 15px 15px 0;
                i {
                    font-size: 23px;
                    color: white;
                }
            }
        }
        overflow: hidden;
        animation: menu__item 1s ease-out forwards;
        animation-delay: calc($anim-dur / $num-menu--items * $i);
        opacity: 0;
        &:hover {
            .menu__list--item {
                @for $i from 1 through $num-menu--items {
                    &-#{$i} {
                        &-checked {
                            transform-origin: right;
                            transition: all 0.5s linear;
                            animation:  0.5s linear forwards checked__appearIn;
                        }
                        &-checked__icon {
                            i {
                                animation: 0.5s linear forwards checked__rotate;
                            }
                            
                        }
                    }
                }
            }
        }
        }
    }
}



@keyframes menu__item {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes menu__loading {
    0% {
        opacity: 0;
        
    }
    100% {
        opacity: 0;
    }
}

@keyframes checked__rotate {
    0% {
        transform: rotateZ(90);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes checked__appearIn {
    0% {
        width: 0%;
    }
    100% {
        width: 20%;
    }
}

@keyframes checked__appearIn-icon {
    0% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}
