#reservation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
    background-color: #f8f8f8;
    &__title {
        display: flex;
        justify-content: center;
    }
    &__description {
        display: flex;
        justify-content: center;
        margin: 0px 0 8px 0;
    }
}