.working {
    ul {
        padding-left: 0;
        margin-left: 26px;
    }
    margin: 40px 0 60px 0;
    h3 {
        margin-left: 18px;
        font-size: 28px;
    }
    &__button{
        @include working__card;
        &:hover {
            background-color: lighten($color: $color-primary, $amount: 32%);
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 1px;
        }
}
    &__button--number_icon {
        @include workin__card--number
    }
    &__button--icon {
        @include working__card--icon;
    }
    &__button--text {
        @include working__card--text
    }

    @media screen and (min-width: 768px) and (max-width: 992px) {
        width: 50%;
    }

    @media screen and (min-width: 992px) and (max-width: 1440px) {
        width: 50%;

        h3 {
            font-size: 36px;
        }

        h5 {
            font-size: 24px;
        }
    }
}

