@mixin logo {
    display: flex;
    justify-content: center;
    margin: 0px 0 8px 0;
}

@mixin button ($color: $color-primary) {
    display: flex;
    align-items: center;
    background-color: $color;
    color: white;
    border-radius: 30px 30px 30px 30px;
    width: 50%;
    height: 45px;
}

@mixin working__card {
    display: flex;
    align-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 15px 15px 15px 15px;
    width: 90%;
    margin-bottom: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 1px;
}

@mixin workin__card--number {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: $color-primary;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    margin-right: 10px;
    font-family: 'roboto';
    font-size: 13px;
}

@mixin working__card--icon {
    i {
        color: grey;
        font-size: 20px;
        margin-right: 20px;
    }
}

@mixin working__card--text {
    h5 {
        font-size: 18px;
        font-family: 'roboto', sans-serif;
    }
}

@mixin restaurant__card {
    display: flex;
    flex-direction: column;
    border-radius: 15px 15px 15px 15px;
    width: 90%;
    height: 250px;
    margin-bottom: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 1px;
    overflow: hidden;
    &--img {
        width: 100%;
        height: 50%;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}